<configuration>
<!--    <property scope="system" name="logback.colorEnabled" value="true"/>-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{MM-dd HH:mm:ss} %magenta([%8.8X{correlationId}]) [%-8.8t] %highlight(%-5level) %cyan(%-20.20logger{20}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Silence common noise -->
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.ktor.server.plugins.di" level="WARN"/>
</configuration>